html{
    font-family: 'Roboto';
    color: white;
    background-color: rgb(16, 16, 16);
}

@font-face {
    font-family: "Federation";
    src: url('./fonts/FederationWide/F_WIDE.TTF') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

.wynik{
    color: #000;
    font-size: 72px;
    margin-top: 15vh;
}


  /* Links inside the navbar */
.navbar a {
    color: #f2f2f2;
    text-decoration: none;
}

header{
    background-color: rgb(16, 16, 16);
    backdrop-filter: blur(25px);
    height: 14vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.titleHeader, .navbarHeader{
    width: 50%;
}

.navbarHeader{
    display: flex;
    justify-content: space-evenly;

}

.navbarHeader a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.productsHeader:hover, .productsHeader:focus, .productsHeader:active {
    -webkit-transform: translateY(-2.5px);
    transform: translateY(-2.5px);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.aboutHeader:hover, .aboutHeader:focus, .aboutHeader:active {
    -webkit-transform: translateY(-2.5px);
    transform: translateY(-2.5px);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.contactHeader:hover, .contactHeader:focus, .contactHeader:active {
    -webkit-transform: translateY(-2.5px);
    transform: translateY(-2.5px);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.accountHeaderImage, .cartHeaderImage, .modeHeaderImage{
    height: 5vh;
}

.headerLogo{
    margin: 10px;
    margin-left: 20px;
    height: 7vh;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.headerLogo:hover, .headerLogo:focus, .headerLogo:active {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

main{
    height: 100vh;
    background-color:rgb(16, 16, 16);
}

.welcomeBanner{
    background-color: rgba(175, 175, 175, 1);
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 8px 8px rgb(200, 200, 200);
    -moz-box-shadow: 0px 0px 8px 8px rgb(200, 200, 200);
    box-shadow: 0px 0px 8px 8px rgb(200, 200, 200);
}

.welcomeBanner h1{
    font-size: 72px !important;
}

footer{
    height: 50vh;
}

/* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
} */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

